<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augmint</title>
</head>

<body style="padding-top: 50px;">
    <table
        style="width: 600px; max-width: 100%; margin-left: auto; margin-right:auto; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <tbody>
            <tr>
                <td style="background-image: url('{{ email_bg_url }}'); border-radius: 10px; padding: 42px;">

                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <img src="{{ logo_url }}" alt="Logo" width="132" height="48">

                            </tr>
                            <tr>
                                <td style="background-color: #151515; padding: 48px 34px; border-radius: 22px; border: 1px solid #FFFFFF1A;">
                                    <h4 style="color: white; font-weight: 700; font-size: 30px; margin-bottom: 0px; margin-top: 0;">Dear {{full_name}},</h4>
                                    <p style="color: #727272; font-size: 16px; margin-top: 8px; margin-bottom: 10px;">Please find your one time password (OTP) below. Please don’t share it with anyone.</p>
                                    <h1 style="text-align: center; color: white; font-size: 64px; margin-bottom: 0; margin-top: 20px;">{{otp}}</h1>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 100px; text-align: center;">
                                    <p style="color: white; font-size: 12px; margin-top: 8px; margin-bottom: 10px; margin-top: 0;">©automint, 15‍1 O'Con‍nor Str‍eet, Gro‍und  fl‍oor, <br> Ot‍tawa ON, K2P 2L8</p>
                                    <p>
                                        <a href="#" style="color: white; font-size: 12px;">Unsubscribe</a>
                                        &nbsp;
                                        <a href="#" style="color: white; font-size: 12px;">Contact Us</a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>